@import url("https://cdn.web-fonts.ge/fonts/bpg-arial/css/bpg-arial.min.css");
@import url("https://cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css");
@font-face {
    font-family: 'FiraGO-Medium';
    src: url('fonts/FiraGO-Medium/FiraGO-Medium.eot');
    src: local('☺'), url('fonts/FiraGO-Medium/FiraGO-Medium.woff') format('woff'), url('fonts/FiraGO-Medium/FiraGO-Medium.ttf') format('truetype'), url('fonts/FiraGO-Medium/FiraGO-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraGO-Regular';
    src: url('fonts/FiraGO-Regular/FiraGO-Regular.woff2') format('woff2'), url('fonts/FiraGO-Regular/FiraGO-Regular.woff') format('woff'), url('fonts/FiraGO-Regular/FiraGO-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
