@import url(bootstrap.css);
@import url(bootstrap-theme.min.css);
@import url(reset.css);
@import url(fonts.css);
@import url(float.css);
@import url(dropzone.min.css);
body {
    font-family: 'FiraGO-Regular';
    background: #f4f4f4;
    position: relative;
}

.btn-grp-each {
    display: inline-block;
}

.bg-half-img {
    float: right;
}

.bg-half-img img {
    width: 100%;
    height: 100%;
}

.top-logo {
    margin: 77px 0 122px 0;
}

.left-login-block {
    padding-left: 30.5%;
    padding-right: 10%;
}

.project-desc {
    margin-bottom: 55px;
}

header {
    min-height: 100px;
    border-bottom: 2px solid #f4f4f4;
    background: #fff;
}

.header-inner {
    height: 100%;
}

.button-block-def {
    float: right;
    padding-top: 45px;
}

#user-information-section {
    margin-bottom: 35px;
    background: #fff;
}

.order-more-btn {
    float: right;
}

.each-order-block-inner {
    padding: 27px 0;
    margin: 0px 20px;
    border-bottom: 1px solid #ebebeb;
}

.each-order-block-inner .col-md-6:first-child {
    padding-left: 0px;
}

.panel-header-filter-inner {
    padding: 20px 21px;
    position: relative;
}

.left-login-block-outher {
    float: left;
    width: 43%;
}

.right-login-block {
    float: right;
    width: 56.93%;
}

.pg-title {
    font-size: 24px;
    color: #000;
    font-weight: bold;
    margin-bottom: 28px;
}

.project-desc {
    font-size: 13px;
    color: #000;
    line-height: 22px;
    margin-bottom: 50px;
}

.float-label-control {
    margin-bottom: 50px !important;
}

.float-label-control label {
    font-size: 16px !important;
}

.float-label-control input:not(.empty):focus+label,
.float-label-control textarea:not(.empty):focus+label {
    font-size: 12px !important;
}

.btn-grp-each {
    width: 45%;
    display: block;
}

.auth-btn {
    float: left;
}

.reg-btn {
    float: right;
}

.btn-grp-each button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 8px;
    font-family: "BPG Arial Caps", sans-serif;
    font-size: 14px;
}

.auth-btn button {
    background: #018bff;
}

.reg-btn button {
    background: #fff;
    border: 1px solid #d4d4d4;
}

.register-btn {
    width: 100%;
    /* float: left; */
}

.register-btn button {
    background: #018bff;
    color: #fff;
}

.reg-title {
    margin-bottom: 50px;
}

.reg-auth-txt {
    float: right;
    text-align: right;
    font-family: 'FiraGO-Regular';
    font-size: 13px;
    padding-top: 10px;
}

.reg-auth-txt a {
    text-decoration: none;
    margin-top: 8px;
    display: block;
}

.float-label-control input:not(.empty)+label,
.float-label-control textarea:not(.empty)+label {
    font-size: 12px !important;
}

select#category-type {
    width: 100%;
    border: none;
    border-bottom: 1px solid #aaa;
    outline: 0;
    color: #aaaaaa;
    font-size: 16px;
    padding-left: 0px;
    padding-bottom: 10px;
    background: transparent;
}

.search-block-head {
    height: 100px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.head-logo-block,
.header-user-panel,
.search-group {
    padding-top: 32px;
}

.search-group {
    position: relative;
}

.search-group input {
    font-size: 14px;
    border: none;
    background: transparent;
    outline: 0;
    width: 100%;
    font-family: 'FiraGO-Regular';
    padding-left: 30px;
    line-height: 34px;
    padding-right: 72px;
}

.search-group button {
    position: absolute;
    border: none;
    background: transparent;
    top: 40px;
    right: 30px;
    color: #8f8f8f;
    outline: 0;
}

.header-user-panel button {
    background: url(../img/user-avat.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 34px;
    background-color: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    text-shadow: none;
    padding-right: 0px;
}

.header-user-panel .btn .caret {
    background: url(../img/caret.png);
    background-position: right center;
    background-repeat: no-repeat;
    border: none;
    width: 7px;
    height: 5px;
    padding-left: 28px;
}

.header-user-panel .btn-group {
    float: right;
}

.header-user-panel .btn-default:focus,
.header-user-panel .btn-default:hover,
.header-user-panel .btn-default:active:hover,
.header-user-panel .open>.dropdown-toggle.btn-default:focus {
    background-color: transparent;
    box-shadow: none;
    background-position: left center;
}

.header-user-panel .btn-default:active,
.header-user-panel .btn-default.active,
.header-user-panel .open>.dropdown-toggle.btn-default {
    background: url(../img/user-avat.png);
    background-repeat: no-repeat;
    background-color: transparent;
    box-shadow: none;
    background-position: left center;
}

.section-inner {
    padding: 28px 0;
}

.user-personal-info {
    line-height: normal;
    font-family: 'FiraGO-Regular';
}

.user-title {
    font-size: 22px;
    color: #000;
    margin-bottom: 12px;
    padding-top: 6px;
}

.user-type-comp {
    font-size: 14px;
    color: #5c5c5c;
    margin-bottom: 32px;
}

.user-secondary-info {
    font-size: 12px;
    color: #5c5c5c;
    margin-bottom: 8px;
}

.user-additional-info {
    font-size: 12px;
    color: #018bff;
}

.user-avatar img {
    border-radius: 10px;
    box-shadow: 0 0 5px 0px #ddd
}

.contact-title {
    font-size: 11px;
    color: #000000;
    margin-bottom: 20px;
    padding-top: 14px
}

.contact-country {
    font-size: 12px;
    color: #000000;
    margin-bottom: 8px;
    font-family: 'FiraGO-Medium';
}

.contact-city,
.contact-zip-phone {
    font-size: 12px;
    color: #000000;
    margin-bottom: 7px;
}

.contact-street {
    font-size: 12px;
    color: #000000;
    margin-bottom: 19px;
}

button.btn-writepers {
    height: 48px;
    padding: 0px 28px;
    border: 1px solid #018bff;
    background: #fff;
    border-radius: 5px;
    outline: 0;
    color: #018bff;
    transition: all 0.3s;
    font-size: 13px;
    font-family: 'FiraGO-Regular';
}

button.btn-writepers:hover {
    background: #018bff;
    color: #fff;
}

#orders-section-momw button.btn-writepers {
    font-size: 11px;
}

.user-page-tabContent {
    background: #fff;
}

.order-icon {
    float: left;
    margin-right: 20px;
}

.order-info-det {
    float: left;
    padding-top: 6px;
}

.order-title {
    font-family: 'FiraGO-Medium';
    margin-bottom: 10px;
}

.order-date {
    font-size: 11px;
    font-family: 'FiraGO-Regular';
    color: #000000;
}

.order-supplier,
.order-price {
    padding-top: 8px;
}

.order-supplier .top-txt {
    font-size: 12px;
    margin-bottom: 12px;
    font-family: 'FiraGO-Medium';
}

.order-supplier .bottom-txt {
    font-family: 'FiraGO-Regular';
    font-size: 12px;
}

.order-price .top-txt {
    font-size: 11px;
    margin-bottom: 12px;
    font-family: 'FiraGO-Regular';
}

.order-price .bottom-txt {
    font-family: 'FiraGO-Medium';
    font-size: 12px;
    color: #49cc31;
}

.panel-header-filter {
    border-bottom: 1px solid #ebebeb;
}

.filter-title {
    font-size: 12px;
    font-family: 'FiraGO-Regular';
    color: #656565;
    margin-right: 15px;
}

.sort-by-name,
.sort-by-date {
    font-family: 'FiraGO-Regular';
    font-size: 12px;
    margin-right: 15px;
    color: #656565;
}

.tabsnavigation {
    margin-bottom: 28px;
}

.active-filter {
    font-family: 'FiraGO-Medium';
}

.tabsnavigation li {
    display: inline-block;
    margin-right: 15px;
}

.tabsnavigation li a {
    font-size: 15px;
    font-family: 'FiraGO-Regular';
    color: #000;
    text-decoration: none;
}

.tabsnavigation li.active a {
    font-family: 'FiraGO-Medium';
}

.receivedOrders-bk {
    background: #fff;
}

.receivedOrders-title {
    font-size: 15px;
    color: #000;
    font-family: 'FiraGO-Medium';
    margin: 40px 0 28px 0;
}

.orders-count {
    background: url(../img/order-green.png);
    background-repeat: no-repeat;
    background-position: left center;
    color: #2ba912;
    font-size: 12px;
    padding-left: 28px;
    font-family: 'FiraGO-Medium';
    height: 21px;
    line-height: 22px;
    margin-top: 10px;
}

.main-left-block .col-md-8:first-child {
    padding-left: 0px;
}

.search_block-filtHead {
    float: right;
    background: url(../img//sprite.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 10px;
    height: 10px;
    margin-top: 4px;
    cursor: pointer;
}

.edit-delete-btns {
    float: right;
    padding-top: 20px;
}

.edit-delete-btns a {
    font-size: 0;
    display: block;
    float: left;
    text-decoration: none;
}

.editBTn {
    background: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -34px;
    width: 10px;
    height: 10px;
    margin-right: 20px;
}

.deleteBTn {
    background: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -71px;
    width: 10px;
    height: 10px;
}

.notific-title {
    font-size: 15px;
    color: #000;
    font-family: 'FiraGO-Medium';
    margin: 40px 0 28px 0;
}

.main-left-block {
    padding-right: 20px;
}

.notifications-block {
    padding-left: 0px;
}

.search-blockpdd {
    padding-right: 0px;
}

.notifications-body .each-order-block {
    height: 90px;
    border-bottom: 1px solid #ebebeb;
}

.notification-each .each-order-block-inner {
    border: none;
}

.messageAuthor {
    float: left;
    font-size: 12px;
    color: #000;
    font-family: 'FiraGO-Regular';
    padding-left: 35px;
    background: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -100px;
}

.message-quantity {
    float: right;
    color: #03dd41;
    font-size: 11px;
    font-family: 'FiraGO-Medium';
}

.notification-each-active {
    background: #ebffe4;
}

.notific-filter-head {
    background: #fff;
    border-bottom: 1px solid #ebebeb;
}

.notific-filter-head-inner {
    padding: 20px 21px;
}

.notific-filter-head-inner li {
    display: inline-block;
    margin-right: 10px;
}

.notific-filter-head-inner li.active a {
    color: #000;
}

.notific-filter-head-inner li a {
    font-size: 12px;
    color: #525252;
    font-family: 'FiraGO-Medium';
}

.notific-filter-head-inner .tabsnavigation {
    margin-bottom: 0px;
}

.main-left-block-bottom {
    padding-right: 20px;
}

.reporting-bot-bk {
    padding-left: 0px;
}

.tender-bk-side {
    padding-left: 0px;
}

.tender-body-side {
    background: #fff;
}

.tender-body-side-inner {
    padding: 20px;
}

.supplier-body-bt {
    background: #fff;
}

.supplier-body-bt-inner {
    padding: 20px;
}

.supplier-col {
    padding-right: 0px;
}

.supplier-each {
    background: #f6f6f6;
    margin-bottom: 20px;
    cursor: pointer;
}

.supplier-status {
    background: #51a7f9;
    width: 70px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 11px;
    color: #fff;
    font-family: 'FiraGO-Medium';
    margin-right: 20px;
    float: left;
}

.supplier-title {
    float: left;
    font-size: 12px;
    color: #000;
    font-family: 'FiraGO-Medium';
    line-height: 50px;
}

.supplier-imported-quantity {
    font-size: 12px;
    color: #40ad27;
    font-family: 'FiraGO-Medium';
    float: right;
    line-height: 50px;
    background: url(../img/or-sm.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    padding-right: 20px;
}

.more-orders-supplier button {
    background: #fff;
    border: 1px solid #d6d6d6;
    font-size: 12px;
    font-family: 'FiraGO-Regular';
    outline: 0;
    height: 48px;
    width: 100%;
    transition: all 0.3s;
}

.more-orders-supplier button:hover {
    background: #d6d6d6;
    color: #fff;
}

.supplier-each:hover,
.active-supplier {
    background: #ededed;
}

.status-experienced {
    background: #5887b3;
}

#main-pg-bottom {
    margin-bottom: 50px;
}

.tender-each-head {
    background: #f1f1f1;
}

.tender-each-head-in {
    padding: 20px;
    font-size: 12px;
    font-family: 'FiraGO-Medium';
}

.tender-each-bottom {
    background: #fafafa;
}

.tender-each-bottom-in {
    padding: 20px 20px 24px 20px;
    font-size: 10px;
}

.tender-each-bottom-in span {
    display: block;
}

.tp-bg-med {
    font-family: 'FiraGO-Medium';
    margin-bottom: 10px;
}

.tp-sm-med {
    font-family: 'FiraGO-Regular';
}

.active-tender .tender-each-head {
    background: #f8f8ed;
}

.active-tender .tender-each-bottom {
    background: #fafaf7;
}

.more-tender-btn {
    margin-top: 19px;
}

.more-tender-btn button {
    background: #fff;
    border: 1px solid #d6d6d6;
    font-size: 12px;
    font-family: 'FiraGO-Regular';
    outline: 0;
    height: 48px;
    width: 100%;
    transition: all 0.3s;
}

.more-tender-btn button:hover {
    background: #d6d6d6;
    color: #fff;
}

.tender-each {
    margin-bottom: 10px;
}

.momdodeb-col-nop {
    padding-left: 0px;
}

.momd-rg-cl-no {
    padding-right: 0px;
}

.momwodebeli-lefted {
    padding-right: 20px;
}

.cart-title {
    font-size: 15px;
    color: #000;
    font-family: 'FiraGO-Medium';
    margin-bottom: 28px;
    margin-top: 0;
}

.cart-right .notific-filter-head-inner {
    padding: 20px 14px;
}

.cart-each {
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

.cart-each-inner {
    padding: 28px 20px 20px 20px;
}

.sent-order-btn button {
    border: none;
    outline: 0;
    font-size: 13px;
    color: #018bff;
    background: url(../img/cart-spr.png);
    background-repeat: no-repeat;
    padding-left: 26px;
    background-position: 0 -39px;
}

.sent-order-btn {
    display: table;
    margin: auto;
    padding: 30px 0;
}

.cart-item-title {
    font-size: 13px;
    color: #000;
    font-family: 'FiraGO-Medium';
    margin-bottom: 8px;
}

.cart-item-quantity {
    font-size: 11px;
    color: #303030;
    font-family: 'FiraGO-Regular';
    margin-bottom: 16px;
}

.cart-item-quantity span {
    display: inline-block;
    margin-right: 4px;
}

.cart-item-price span {
    font-size: 11px;
    color: #303030;
    font-family: 'FiraGO-Regular';
    display: block;
    margin-bottom: 8px;
}

.cart-item-price .price-green {
    margin-bottom: 16px;
    color: #49cc31;
}

.save-for-later a {
    font-size: 11px;
    color: #303030;
    font-family: 'FiraGO-Regular';
    display: block;
    text-decoration: none;
}

.delete-cart-item {
    position: absolute;
    right: 21px;
    bottom: 72px;
}

.delete-cart-item a {
    font-size: 0px;
    background: url(../img/cart-spr.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 10px;
    height: 12px;
    display: block;
}

#orders-section-momw {
    margin-top: 40px;
}

.order-inf-bottomrow {
    padding-left: 76px;
    clear: both;
    padding-top: 5px;
}

.order-rec-date,
.order-release-type {
    padding-top: 15px;
}

#orders-section-momw .order-title {
    font-size: 13px;
}

.col-nopd {
    padding-left: 0px;
}

.top-quant-bk {
    font-size: 12px;
    font-family: 'FiraGO-Medium';
    margin-bottom: 12px;
}

.spinners-momw {
    margin-right: 15px;
}

.in-stocks-momd {
    color: #4bd930;
    font-size: 11px;
    font-family: 'FiraGO-Regular';
    padding-left: 17px;
    background: url(../img/sprite.png);
    background-position: 0 -99px;
    background-repeat: no-repeat;
}

.quantity-bk-momw {
    margin-bottom: 21px;
    padding-top: 8px;
}

.col-pad-lf {
    margin: 20px 0 0 76px
}

.title-cond {
    color: #545454;
    margin-bottom: 10px;
    font-size: 11px;
    font-family: 'FiraGO-Regular';
    display: block;
}

.sales-cond-body {
    font-size: 13px;
    line-height: 21px;
    font-family: 'FiraGO-Regular';
    color: #545454;
    display: block;
    margin-bottom: 25px;
}

.perc-title {
    color: #545454;
    font-size: 11px;
    font-family: 'FiraGO-Regular';
    display: block;
    margin-bottom: 12px;
}

.perc-txt-bl {
    color: #018bff;
    font-size: 14px;
    font-family: 'FiraGO-Regular';
    display: block
}

.view-orders-section .order-more-btn {
    margin-top: 70px;
}

.add-action {
    display: inline-block;
    margin: 2px 0px 0 10px;
}

.my-actions-edits {
    margin-top: 50%;
}

.sub-message {
    font-size: 11px;
    font-family: 'FiraGO-Regular';
    display: block;
    margin: 2px 0 8px 0;
    color: #000;
    float: left;
    padding-left: 34px;
}

.momwmauth {
    background: url(../img/sprite-momw.png);
    background-repeat: no-repeat;
    background-position: 0 -110px;
    height: 16px;
}

.momwodebeli-notifications .notification-each-active {
    background: #fffff5;
}

.notification-each-active .momwmauth {
    background: url(../img/sprite-momw.png);
    background-repeat: no-repeat;
    background-position: 0 -152px;
    height: 16px;
}

.checkbox label:after,
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.0em;
    height: 1.0em;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .6em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"]+.cr>.cr-icon,
.radio label input[type="radio"]+.cr>.cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon,
.radio label input[type="radio"]:checked+.cr>.cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled+.cr,
.radio label input[type="radio"]:disabled+.cr {
    opacity: .5;
}

.order-check {
    float: left;
    padding-right: 40px;
}

.order-check .radio label,
.checkbox label {
    padding-left: 0px;
}

.filter-check-all .radio,
.filter-check-all .checkbox {
    margin: 0;
}

.filter-check-all {
    padding-left: 14px;
    padding-right: 40px;
}

.momwodebeli-notifications .order-inf-bottomrow {
    padding-left: 63px;
}

.shps-sm {
    font-size: 11px !important;
    max-width: 85px;
    margin-bottom: 8px;
}

.sub-buttom {
    font-size: 13px;
    color: #000;
    font-family: 'FiraGO-Medium';
}

.shps-bg {
    font-size: 13px !important;
    color: #000;
    font-family: 'FiraGO-Medium';
    margin-bottom: 7px !important;
    margin-top: 5px;
}

.invoice-upload {
    font-size: 13px;
    font-family: 'FiraGO-Medium';
    margin-top: 15px;
}

.invoice-upload span {
    font-family: 'FiraGO-Regular';
    margin-right: 8px;
    background: url(../img/sprite-momw.png);
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding-left: 20px;
    line-height: 12px;
}

.momwodebeli-notifications .order-supplier .top-txt {
    margin-bottom: 8px;
}

.color-txt-bl {
    color: #367cb8;
    font-size: 13px;
    font-family: 'FiraGO-Medium' !important;
}

.upload-pdf {
    font-size: 12px;
    font-family: 'FiraGO-Regular';
    float: right;
    margin-bottom: 24px;
    background: url(../img/sprite-momw.png);
    background-position: 0 -36px;
    background-repeat: no-repeat;
    line-height: 14px;
    padding-left: 22px;
    margin-top: 10px;
}

.upload-xls {
    font-size: 12px;
    font-family: 'FiraGO-Regular';
    float: right;
    background: url(../img/sprite-momw.png);
    background-position: 0 -71px;
    background-repeat: no-repeat;
    line-height: 14px;
    padding-left: 24px;
}

.mom-del-btns {
    padding-top: 15px;
}

.momw-top-pg {
    margin-top: 40px;
}

.order-count-sp {
    margin: 0 2px;
}

.order-momw-subTxt {
    margin-bottom: 20px;
}

.order-momw-subTxt-inner {
    padding: 7.3px 20px;
    font-size: 11px;
    line-height: 18px;
    font-family: 'FiraGO-Regular';
}

.back-button {
    margin: 30px 0;
    background: url(../img/back.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 28px;
    font-size: 15px;
    font-family: 'FiraGO-Regular';
    color: #4e4e4e;
}

.order-detail-bk {
    background: #fff;
}

.order-detail-bk-in {
    padding: 20px 8px 40px 8px;
}

.order-det-head {
    border-bottom: 1px solid #ebebeb;
    position: relative;
}

.order-det-head-inner {
    padding: 22px;
}

.order-number-t {
    color: #aaaaaa;
    font-size: 15px;
    font-family: 'FiraGO-Medium';
    margin-bottom: 8px;
}

.order-tit {
    color: #000;
    font-size: 16px;
    font-family: 'FiraGO-Medium';
}

.delete-edit-ord {
    position: absolute;
    right: 30px;
    top: 38px;
}

.delete-edit-ord .edit-delete-btns {
    padding: 0;
}

.ord-tp-tit {
    font-size: 14px;
    font-family: 'FiraGO-Medium';
    color: #000;
    margin-bottom: 8px;
}

.ord-tp-bt {
    font-size: 12px;
    font-family: 'FiraGO-Regular';
    color: #000;
}

.top-row {
    margin-bottom: 50px;
    overflow: hidden;
}

.zed-num {
    background: url(../img/sprite-momw.png);
    background-repeat: no-repeat;
    background-position: 0 1px;
    padding-left: 20px;
    padding-left: 17px;
}

.status-act-ord {
    position: absolute;
    right: -10px;
    color: #53b93f;
    padding-left: 16px;
    background: url(../img/sprite.png);
    background-repeat: no-repeat;
    background-position: 0 -98px;
    font-size: 12px;
    font-family: 'FiraGO-Medium';
    margin-top: 10px;
}

.title-ord-auth {
    font-size: 14px;
    color: #000;
    font-family: 'FiraGO-Medium';
    margin-bottom: 8px;
}

.ord-auth-block {
    border: 1px solid #ededed;
    border-radius: 8px;
}

.ord-auth-block {
    width: 97%;
    min-height: 108px;
}

.ord-auth-left {
    float: left;
    width: 66%;
}

.ord-auth-right {
    float: right;
    width: 34%;
    border-left: 1px solid #ededed;
    text-align: center;
}

.ord-auth-avatar {
    float: left;
    width: 48%;
    line-height: 108px;
    text-align: center;
}

.ord-auth-txts {
    float: left;
    width: 49%;
    padding-top: 24px;
}

.ord-auth-right a {
    display: block;
    line-height: 108px;
    font-size: 12px;
    color: #32b1ff;
    font-family: 'FiraGO-Medium';
}

.title-ord-auth-s {
    font-size: 16px;
    margin-bottom: 8px;
    font-family: 'FiraGO-Regular';
}

.ord-auth-type {
    font-size: 11px;
    margin-bottom: 8px;
    color: #6a6a6a;
    font-family: 'FiraGO-Regular';
}

.ord-auth-numb {
    font-size: 11px;
    color: #6a6a6a;
    font-family: 'FiraGO-Regular';
}

.list-item-head {
    background: #f8f8ed;
    overflow: hidden;
}

.list-item-head-in {
    overflow: hidden;
}

.tender-title {
    float: left;
    font-size: 12px;
    color: #000;
    font-family: 'FiraGO-Medium';
    padding: 20px 0 0 20px;
}

.tender-takePartBtn {
    float: right;
}

.tender-takePartBtn button {
    border: none;
    height: 51px;
    width: 175px;
    background: #018bff;
    outline: 0;
    font-size: 11px;
    color: #fff;
    font-family: 'FiraGO-Medium';
}

.tender-list-each-item-inner {
    padding: 0 20px;
    overflow: hidden;
}

.tender-list-each-item {
    margin-bottom: 20px;
}

.txt-top-tender {
    font-size: 11px;
    color: #000;
    font-family: 'FiraGO-Medium';
    margin-bottom: 10px;
}

.txt-bot-tender {
    font-size: 11px;
    color: #000;
    font-family: 'FiraGO-Regular';
}

.txt-bot-blue {
    color: #018bff;
}

.each-col-inner-tender {
    padding: 20px 0;
}

.tend-righted {
    padding-left: 50px;
}

.tender-item-bottom-in .col-md-7 {
    padding: 0px 20px;
}

.tender-item-bottom-in .col-md-4:first-child {
    padding-left: 0px;
}

.filter-head-tender {
    margin-bottom: 20px;
}

.tender-list-block {
    margin-top: 40px;
}

.tender-item-bottom-in {
    background: #fafaf7;
    overflow: hidden;
}

.tab-panel-inner {
    padding-bottom: 20px;
}

.filter-body-inner {
    padding: 20px;
}

.filter-body {
    background: #fff;
}

.filter-pdf-export {
    position: absolute;
    right: 22px;
    top: 20px;
    background: url(../img/sprite-momw.png);
    background-repeat: no-repeat;
    background-position: 0 -36px;
    padding-left: 23px;
    line-height: 16px;
}

.filter-pdf-export a {
    text-decoration: none;
    font-size: 12px;
    color: #000;
    font-family: 'FiraGO-Regular';
}

.reporting-row-numb {
    font-size: 16px;
    color: #008aff;
    font-family: 'FiraGO-Medium';
    line-height: 89px;
    text-align: center;
    padding-right: 22px;
}

.reporting-title-tp {
    font-size: 13px;
    color: #000;
    font-family: 'FiraGO-Medium';
    margin-bottom: 10px;
    padding-top: 26px;
}

.reporting-bot-txt {
    font-size: 11px;
    color: #000;
    font-family: 'FiraGO-Regular';
}

.reportingpG .each-order-block-inner {
    padding: 0;
}

.statisctic-info {
    font-family: 'FiraGO-Regular';
    color: #367cb8;
    font-size: 11px;
    padding-left: 25px;
    background: url(../img/statistic-ic.png);
    background-position: left center;
    background-repeat: no-repeat;
    line-height: 15px;
    margin-top: 36px;
}

.statisctic-info a {
    text-decoration: none;
    font-family: 'FiraGO-Regular';
    color: #367cb8;
}

.reporting-quantity {
    color: #2ba912;
    font-size: 12px;
    font-family: 'FiraGO-Regular';
    background: url(../img/or-sm.png);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 24px;
    line-height: 15px;
    margin-top: 36px;
}

.reportingpG .each-order-block-inner .col-pad-low {
    padding: 0px 5px;
}

.group-halfs .left {
    width: 43%;
    float: left
}

.group-halfs .left input,
.group-halfs .right input {
    width: 100%;
    height: 38px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
}

.group-halfs .right {
    width: 43%;
    float: right;
}

.form-group input {
    width: 100%;
    height: 38px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    outline: 0;
    font-family: 'FiraGO-Regular';
    font-size: 12px;
    padding-left: 10px;
    color: #585858;
}

.seperator-min-grp {
    width: 14%;
    display: block;
    float: left;
    color: #adadad;
    font-family: 'FiraGO-Regular';
    font-size: 14px;
    text-align: center;
    line-height: 38px;
}

.form-group label {
    font-size: 13px;
    color: #585858;
    font-family: 'FiraGO-Medium';
    padding-bottom: 20px;
    display: block;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group select {
    width: 100%;
    height: 38px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    outline: 0;
    font-family: 'FiraGO-Regular';
    font-size: 12px;
    color: #585858;
    padding-left: 10px;
    background: url(../img/caret.png);
    background-repeat: no-repeat;
    background-position: 93% center;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.filter-button a {
    width: 100%;
    height: 48px;
    display: block;
    border-radius: 5px;
    background: #018bff;
    border: 1px solid #e1e1e1;
    font-size: 13px;
    color: #fff;
    font-family: 'FiraGO-Medium';
    line-height: 48px;
    text-align: center;
    text-decoration: none;
}

.searchIcon {
    position: absolute;
    right: 11px;
    top: 44px;
}

.tender-sendingHeadtxt {
    font-size: 13px;
    color: #656565;
    font-family: 'FiraGO-Medium';
}

.tenderSendingBlock .ord-tp-tit {
    font-size: 13px;
}

.tenderSendingBlock .ord-tp-bt {
    font-size: 12px;
}

.txt-blue {
    color: #018bff;
}

.takePartBTn {
    float: right;
    margin-bottom: 20px;
}

.takePartBTn button {
    height: 51px;
    padding: 0px 30px;
    background: #018bff;
    font-size: 11px;
    color: #fff;
    font-family: 'FiraGO-Medium';
    border: none;
    outline: 0;
    border-radius: 5px;
}

.tenderSending-DeTprof {
    border: 1px solid #ededed;
    border-radius: 8px;
}

.headOfdetprof img {
    max-width: 100%;
}

.profileavatrABs {
    display: block;
    width: 146px;
    height: 146px;
    border-radius: 10px;
    text-align: center;
    line-height: 170px;
    position: relative;
    z-index: 2;
    margin: auto;
    margin-top: -74px;
    background: #fff;
    box-shadow: 0px 2px 12px -3px #ccc;
}

.detprofBody {
    text-align: center;
    margin-top: 25px;
    padding-bottom: 30px;
}

.detprof-namecomp {
    font-size: 22px;
    color: #000;
    font-family: 'FiraGO-Regular';
    margin-bottom: 10px;
}

.detprof-catcomp {
    font-size: 14px;
    color: #5c5c5c;
    font-family: 'FiraGO-Regular';
    margin-bottom: 35px;
}

.detprof-yearsoftrade {
    font-size: 12px;
    color: #5c5c5c;
    font-family: 'FiraGO-Regular';
    margin-bottom: 10px;
}

.detprof-prodnumber {
    color: #018bff;
    font-family: 'FiraGO-Regular';
    font-size: 12px;
}

.tenderSendingBlock .order-detail-bk-in {
    padding: 20px 20px 40px 8px;
}

.tenderSendescParag {
    font-size: 13px;
    color: #424242;
    line-height: 24px;
    font-family: 'FiraGO-Regular';
}

.tendetSendingdesc {
    margin-bottom: 30px;
    padding-left: 15px;
}

.eachBTnDocs {
    float: left;
    margin-right: 20px;
}

.eachBTnDocs a {
    border-radius: 10px;
    display: block;
    width: 184px;
    height: 54px;
    border: 1px solid #0000ff;
    color: #0000ff;
    font-size: 12px;
    font-family: 'FiraGO-Regular';
    line-height: 54px;
    background: url(../img/docicon.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    padding-left: 42px;
}

.documentsButtonsBot {
    overflow: hidden;
    margin-top: 15px;
}

.tender-add-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 139, 255, 0.3);
}

.orders-tab-block {
    position: relative;
}

.addTenderModal {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 7;
    top: 45px;
}

.addTenderModHeader {
    border-bottom: 1px solid #ebebeb;
    line-height: 47px;
    padding-left: 20px;
    font-size: 15px;
    color: #000;
    font-family: 'FiraGO-Medium';
}

.addTEnderModalInner {
    height: 100%;
    position: relative;
}

.addTenderModalFooter {
    border-top: 1px solid #ebebeb;
    position: absolute;
    bottom: 47px;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
}

.modalFootRight {
    float: right;
    height: 100%;
}

.modalFootLeft {
    float: left;
    padding: 31px 0 0 20px
}

.addMoreTender {
    color: #656565;
    font-size: 12px;
    background: url(../img/add.png);
    background-repeat: no-repeat;
    background-position: left center;
    line-height: 16px;
    padding-left: 23px;
}

.TenderCanselBtn {
    float: left;
    height: 100%;
}

.TenderAddButton {
    float: left;
    height: 100%;
}

.TenderCanselBtn button {
    border: none;
    background: none;
    font-size: 12px;
    color: #041e41;
    font-family: 'FiraGO-Medium';
    height: 100%;
    padding: 0px 52px;
    outline: 0;
}

.TenderAddButton button {
    border: none;
    background: #018bff;
    font-size: 12px;
    color: #fff;
    font-family: 'FiraGO-Medium';
    height: 100%;
    padding: 0px 52px;
    outline: 0;
}

.addTenderModalBody_inner {
    padding: 25px 20px 5px 20px;
}

.modalHalfCropped .leftedRowModal {
    float: left;
    width: 39%;
}

.modalHalfCropped .rightedRowModal {
    float: right;
    width: 53%;
}

.modalHalfCropped .rightedRowModal input,
.modalHalfCropped .leftedRowModal input {
    width: 100%;
    height: 38px;
    border: 1px solid #dddddd;
    padding-left: 10px;
    font-size: 12px;
    outline: 0;
    font-family: 'FiraGO-Regular';
}

.modalHalfCropped .rightedRowModal label,
.modalHalfCropped .leftedRowModal label,
.fullWidthRowMod label {
    font-size: 13px;
    color: #656565;
    font-family: 'FiraGO-Regular';
    margin-bottom: 20px;
    display: block;
}

.fullWidthRowMod textarea {
    width: 100%;
    min-height: 120px;
    resize: none;
    border: 1px solid #dddddd;
    padding: 10px;
    font-size: 12px;
    outline: 0;
    font-family: 'FiraGO-Regular';
}

.companyNameFilled {
    display: block;
    color: #656565;
    font-size: 12px;
    font-family: 'FiraGO-Medium';
    line-height: 38px;
}

.twoOfThreeHafled-left {
    float: left;
    width: 47%;
}

.twoOfThreeHafled-right {
    float: right;
    width: 47%;
}

.eachModGrprow {
    margin-bottom: 20px;
}

.eachModGrprow:last-child {
    margin-bottom: 0px;
}

.twoOfThreeHafled-right select {
    width: 100%;
    height: 38px;
    border: 1px solid #dddddd;
    padding-left: 10px;
    font-size: 12px;
    outline: 0;
    font-family: 'FiraGO-Regular';
}

.modalImportBtn a {
    background: url(../img/sprite-momw.png);
    background-repeat: no-repeat;
    background-position: 0 -71px;
    padding-left: 30px;
    line-height: 18px;
    font-size: 12px;
    color: #656565;
    font-family: 'FiraGO-Regular';
}

.modalImportBtn {
    padding-top: 25px;
}

#addNewProductModal {
    width: 94.5%;
    height: auto;
}

#addNewProductModal .addTEnderModalInner {
    height: auto;
}

#addNewProductModal .addTenderModHeader {
    position: relative;
}

.importedAbsHead {
    position: absolute;
    right: 12px;
    padding-top: 0;
    top: 0;
}

.leftedRowModalProd {
    width: 54%;
    float: left;
}

.rightedRowModalProd {
    width: 42%;
    float: right;
}

#addNewProductModal .addTenderModalFooter {
    bottom: 0;
}

#addNewProductModal .addTenderModalBody {
    padding-bottom: 80px;
}

.modalEach .dropzone {
    min-height: 197px;
    border: 2px dotted #d9d9d9;
    background: white;
    padding: 20px 20px;
}

.rightedRowModalProd label,
.titleFRmup {
    font-size: 13px;
    color: #656565;
    font-family: 'FiraGO-Regular';
    margin-bottom: 20px;
    display: block;
}

.rightedRowModalProd input {
    width: 100%;
    height: 38px;
    border: 1px solid #dddddd;
    padding-left: 10px;
    font-size: 12px;
    outline: 0;
    font-family: 'FiraGO-Regular';
}

.dz-message {
    padding-top: 50px;
    background: url(../img/upload.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.dz-message span {
    font-size: 12px;
    color: #656565;
    font-family: 'FiraGO-Medium';
}

.dz-message .maxsizespan {
    font-family: 'FiraGO-Regular';
    margin-top: 8px;
}

.eachrowmodPRod {
    margin-bottom: 20px;
    position: relative;
}

.inputSmMEdium {
    width: 85% !important;
}

.inputSmSmall {
    width: 55% !important;
}

.inputSmSmallExtra {
    width: 85% !important;
}

.extrafield {
    position: absolute;
    font-size: 13px;
    font-family: 'FiraGO-Regular';
    margin: 10px 0px 0 10px;
}

.rightedRowModalProd select {
    width: 100%;
    height: 38px;
    border: 1px solid #dddddd;
    padding-left: 10px;
    font-size: 12px;
    outline: 0;
    font-family: 'FiraGO-Regular';
}

.eachrowmodPRod textarea {
    width: 100%;
    height: 82px;
    border: 1px solid #dddddd;
    padding: 10px;
    font-size: 12px;
    outline: 0;
    font-family: 'FiraGO-Regular';
    resize: none;
}

.eachrowmodPRod:last-child {
    margin-bottom: 0px;
}

#AddNewAqcia .dropzone,
#AddNewAqciaceshback .dropzone {
    min-height: 446px;
}

#AddNewAqcia .dropzone .dz-message,
#AddNewAqciaceshback .dropzone .dz-message {
    text-align: center;
    margin: 10em 0;
}

#AddNewAqciaceshback .addTEnderModalInner {
    background: #fff;
}

#AddNewAqciaceshback .addTenderModalFooter {
    bottom: 0;
}

.selectSmallOne {
    width: 50% !important;
}

.inputCashSm {
    width: 70% !important;
}

.UploadBtnBlock {
    position: absolute;
}

.inputSmSmallcashext {
    width: 75% !important;
}

.UploadBtnBlock a {
    width: 100%;
    display: block;
    height: 38px;
    border: 1px solid #dddddd;
    font-size: 12px;
    color: #656565;
    margin-left: 20px;
    line-height: 38px;
    text-align: center;
    font-family: 'FiraGO-Regular';
    text-decoration: none;
}
/* buttons for back-end */

.loginButton {
        background: #018bff;
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 8px;
        font-family: "BPG Arial Caps", sans-serif;
        font-size: 14px;
}
.registerButton{
    background: #fff;
border: 1px solid #d4d4d4;
width: 100%;
height: 50px;
border-radius: 8px;
font-family: "BPG Arial Caps", sans-serif;
font-size: 14px;
    line-height: 2.428571;
}
.authentificationButton{
    background: #018bff;
color: #fff;
width: 100%;
height: 50px;
border: none;
border-radius: 8px;
font-family: "BPG Arial Caps", sans-serif;
font-size: 14px;
}

/* end buttons for back-end */
